/*******************
	General Calsses Start  
***********************************/
.mx-n2 {margin-right: -0.5rem !important;  margin-left: -0.5rem !important;}

a {outline: none !important; text-decoration: none;}

.mt-6 {margin-top: 4rem !important;}
.mt-7 {margin-top: 5rem !important;}
.mt-8 {margin-top: 6rem !important;}

.mb-6 {margin-bottom: 4rem !important;}
.mb-7 {margin-bottom: 5rem !important;}
.mb-8 {margin-bottom: 6rem !important;}

.p-lg-6 {padding: 4rem;}

.h-150 {height:150px;}
.height-500 {height: 500px !important;}
.height-390 {height: 390px !important;}
.height-450 {height: 450px !important;}

.shadow-sm {box-shadow: 0 10px 40px 0 rgb(165 165 165 / 8%), 0 2px 9px 0 rgb(6 6 6 / 15%)  !important;}

.border {border-color: #E2E2E2 !important;}
.border-top {border-top: 1px solid #E2E2E2 !important;}
.border-bottom {border-bottom: 1px solid #E2E2E2 !important;}
.form-border {border: 1px solid #ccc !important;}
.detail-border {border-bottom: 1px solid; border-color: rgba(112, 112, 112, 0.06);}

.rounded-10 {border-radius: 10px;}
.rounded-20 {border-radius: 20px;}
.rounded-30 {border-radius: 30px;}

.bg-light {background: #F9F9F9 !important;}
.bg-light2 {background:#EEEEEE;}

.btn-blue {background-color: #1E669C; border: 1px solid #1E669C; color: #fff !important;}
.btn-blue:hover {background-color: #fff0; color: #1E669C !important;}
.btn-red {background-color: #ed2123; border: 1px solid #ed2123; color: #fff !important;}
.btn-red:hover {background-color: #fff0; color: #ed2123 !important;}
.btn-border-red {background-color: #fff0; border: 1px solid #ed2123; color: #ed2123 !important;}
.btn-border-red:hover {background-color: #ed2123; color: #fff !important;}

.fw-light {font-weight: 300 !important;}
.fw-regular {font-weight: 400 !important;}
.fw-medium {font-weight: 500 !important;}
.fw-semibold {font-weight: 600 !important;}
.fw-bold {font-weight: 700 !important;}

.text-gray {color: #666666 !important;}
.text-red {color: #ed2123 !important;}
.text-blue {color: #1e669c !important;}
.text-dark {color: #333333 !important;}
.text-light {color: #8e8e8e !important;}

.fs-12 {font-size: 12px;}
.fs-14 {font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1920 - 320))) !important;}
.fs-16 {font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320))) !important;}
.fs-19 {font-size: calc(15px + (19 - 15) * ((100vw - 320px) / (1920 - 320))) !important;}
.fs-28 {font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1920 - 320))) !important;}
/*******************
	General Calsses End   
***********************************/